/* Body */
body {
    background-color: rgb(235, 235, 235);
}
/* Topbar */
.topbar {
    background-color: #fff!important;
    box-shadow: 2px 1px 3px 1px rgba(77, 77, 77, 0.2);
}
.brand {
    color: #000;
    font-weight: 700;
}
.topbar .nav-link {
    color: rgb(0, 184, 144)!important;
}

/* Home */
.search-area {
    padding: 25px 40px;
}
.error-address {
    font-size: 12px;
    color: red;
}
.input-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(204, 204, 204);
  }
  .input-search::-moz-placeholder { /* Firefox 19+ */
    color: rgb(204, 204, 204);
  }
  .input-search:-ms-input-placeholder { /* IE 10+ */
    color: rgb(204, 204, 204);
  }
  .input-search:-moz-placeholder { /* Firefox 18- */
    color: rgb(204, 204, 204);
  }

  .submit-button-weather {
      background-color: rgb(0, 184, 144);
      width: 100%;
      border-radius: 1px;
      color: #fff;
  }
.entry-temp {
    padding: 25px 40px;
}
.temperature-box {
    background-color: #fff;
    margin: 0 auto;
    width: 270px;
    height: 100px;
    box-shadow: 1px 1px 3px 1px rgba(114, 114, 114, 0.2);
}
.temperature-box .text {
    text-align: center;
    padding-top: 10px;
}
.temperature-box .text .city {
    font-weight: 700;
}
.temperature-box .text .temperature {
    font-size: 40px;
    font-weight: 700;
}
.options-address {
    position: absolute;
    width: 460px;
}
.search-area .search-options .address-options {
    list-style: None;
    padding: 0;
}
.search-area .search-options .address-options li {
    background-color: #fff;
    padding: 3px 2px 3px 6px;
    font-size: 14px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: solid 1px rgba(71, 71, 71, 0.3);
    cursor: pointer;
}
/* History */
.block-history {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    width: 100%;
}
.block-history h2 {
    text-align: center;
}

.block-history button {
    font-size: 12px;;
}
 .block-history .tableHistory {
    text-align: center;
}

/* Registration */
.registry-box {
    padding: 30px;
    background-color: #fff;
    margin: 17% auto;
    width: 400px;
}
.registry-box h2 {
    text-align: center;
    margin-bottom: 30px;
}
.registry-box .error {
    color: red;
    font-size: 13px;
}
.input-register::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(204, 204, 204);
  }
  .input-register::-moz-placeholder { /* Firefox 19+ */
    color: rgb(204, 204, 204);
  }
  .input-register:-ms-input-placeholder { /* IE 10+ */
    color: rgb(204, 204, 204);
  }
  .input-register:-moz-placeholder { /* Firefox 18- */
    color: rgb(204, 204, 204);
  }

  .submit-button-register {
      background-color: rgb(0, 184, 144);
      width: 100%;
      border-radius: 1px;
      color: #fff;
  }